/* h1{
    color: red;
    background: green;

}
body{
    background-color: black;
    background-image:url(pic.webp);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    color: white;
} */

.p2{
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 25px;
}
#p1{
    border-width: 10px;
    border-style: dotted;
    border-color: blueviolet;
}